{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro Nova Tela</h1>
            <form method="post">
            <form action="{% url 'projeto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="submit" class="btn btn-warning">
                            <a href="{% url 'index' %}">Cancelar</a>
                        </button>
                    {% endbuttons %}
            </form>
            </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>